$colorX: #45a182;

// inicia header con video
header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

// termina header con video

// inicia Paralax

.parallax {
    /* The image used */
    background-image: url("../img/headerParalax.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// inicia Paralax

// anuncios index
.anuncio {
    background-color: rgba(255, 255, 255, 0.5);
}

// anuncios index

// centrado Perfecto
.centrado-h-v {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para asegurar que el iframe del plugin de Facebook ocupe todo el ancho disponible */
.fb-page,
.fb-page span,
.fb-page iframe {
    width: 100% !important;
}
